.reveal .slide-logo {
  height: 3em !important;
  width: 3em !important;
  max-width: unset !important;
  max-height: unset !important;
}

@media (max-width: 1024px) {
 .reveal .slide-logo {
   display: none !important;
 } 
}
